@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100&display=swap");

body {
  color: black;
  font-family: 'Mukta', sans-serif;
}

input, button {
  color: black;
  font-family: 'Palanquin', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.todo-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li div:hover {
  font-weight: bolder;
  cursor: pointer;
}
