@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100&display=swap");

html {
  height: 100%;
  background-color: #f8fafb;
}

h1 {
  align-self: center;
  font-weight: bold;
}

body {
  color: black;
  font-family: 'Mukta', sans-serif;
}

input, button {
  color: black;
  font-family: 'Palanquin', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  background-color: white;
}

.todo-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.todo-title-active {
  font-weight: bolder;
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline-color: hsl(204, 86%, 53%);
}

.input:focus {
border-color: hsl(204, 86%, 53%);
box-shadow: none;
}

.delete {
  background-color: hsl(204, 86%, 53%);
}

.delete:hover {
  background-color: red;
}